@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    @apply mb-10;
  }
}

@layer components {
  .card-form {
    @apply  border border-slate-300 my-5 rounded p-3;
  }
  .card-name {
    @apply hover:underline text-2xl ;
  }
  .card-box {
    @apply inline-block my-3;
  }
  .card-area {
   @apply  w-full resize-none text-lg bg-slate-100 p-2 my-2 border border-gray-300 rounded; 
  }
  .card-key {
    @apply bg-black bg-opacity-80 border border-black text-white p-1 rounded-l;
  }
  .card-value {
    @apply bg-white text-black p-1 border border-black mr-1 rounded-r;
  }
  .package-block {
    @apply bg-slate-50 text-xs p-2;
  }
  .package-name {
    @apply text-2xl my-2 text-left font-semibold; 
  }

  .menu-block {
    @apply text-center hidden lg:block ;
  }
  .menu-items{
    @apply  mx-1 my-3 transition-all duration-200 border-2 border-slate-800 hover:bg-black hover:bg-opacity-80 hover:text-white p-1 rounded;
  }

  .text-discript{
    @apply w-full bg-white p-2 resize-none;
  }

  .btn-github {
    @apply btn bg-black my-2 text-white;
  }
  .img-github {
    @apply inline-block mx-1 bg-black rounded-full;
  }
  .input-box {
    @apply border border-slate-300 rounded p-2 my-5;
  }
  .label-dark {
    @apply text-lg text-center block m-1;
  }
  .textarea-dark {
    @apply p-2 w-full border border-slate-300 focus:border-slate-500 focus:outline-none rounded;
  }
  .input-dark {
    @apply border border-slate-300 focus:border-slate-500 focus:outline-none p-2 block w-full rounded;
  }
  .btn-dark {
    @apply border-2 border-black hover:bg-opacity-80 py-1 px-2 rounded hover:bg-black hover:text-white;
  }


  .menu {
    @apply text-2xl sm:text-lg sm:flex sm:justify-center items-center;
  }

  .sub-menu {
    @apply border rounded border-white text-slate-100 hover:text-white sm:mx-3 my-3 sm:my-0 sm:hover:scale-110 sm:border-none transition-all;
  }

  .head {
    @apply text-2xl my-4 text-center bg-black bg-opacity-80 text-white py-3 rounded shadow-md;
  }
  .head-outline {
    @apply text-2xl my-4 text-center bg-white bg-opacity-80 text-slate-800 py-3 rounded shadow-md;
  }

  .btn {
    @apply bg-white border border-black p-2 text-sm rounded mx-2;
  }

  .big-btn {
    @apply hover:bg-black hover:bg-opacity-80 duration-200 transition-all bg-white hover:text-white text-black border-2 border-black py-3 sm:py-4 px-5 sm:px-20 rounded text-2xl sm:text-4xl;
  }

  .menu-btn {
    @apply bg-teal-300 p-2 text-sm mx-2;
  }

  .input-search {
    @apply bg-gray-100 text-black shadow-sm  outline-none rounded-sm py-2 sm:py-1 px-3 text-sm;
  }
  .package-active {
    @apply duration-300 cursor-pointer border border-black bg-opacity-80 bg-black  text-white  w-1/2 ;
  }
  .package-unactive {
    @apply duration-300 cursor-pointer border border-black hover:bg-black hover:text-white hover:bg-opacity-80 w-1/2;
  }
}