/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Lato", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

body::after {
  content: "";
  display: block;
  height: 100px;
}

footer {
  background-color: #efefef;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 70px;
}

.screen-main {
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 900px) {
  .screen-main {
    margin-left: 20rem;
    margin-right: 20rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar:hover {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: black;
}